button {
    display: flex;
    width: 619px;
    height: 80px;
    margin: 5px;

    justify-content: center;
    border: none;
    border-radius: 46px;
    border-style: none;

    font-family: 'Poppins', sans-serif;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 65px;
    box-shadow: none;
}

.button.available {
    display: flex;
    width: 619px;
    height: 80px;
    margin: 5px;

    justify-content: center;

    background-color: #F2F2F2;
    color: #CCCCCC;
    border-color: BLACK;
    border-radius: 46px;
    border-style: none;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 65px;
}

button.available:hover {
    display: flex;
    width: 619px;
    height: 80px;
    margin: 5px;

    justify-content: center;

    background-color: black;
    border-radius: 46px;
    border-style: none;

    font-family: 'Poppins', sans-serif;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 65px;
}

.previous {
    text-decoration: none;
    font-size: 30px;
    padding-right: 8px;
    background-color: white;
    color: black;
    border-radius: 50%;
    border-width: 0px;
    float: left;
  }
  
  .header h2 {
    font-family: 'Poppins', sans-serif;
    font-style: bold;
    float: left;
  }
  
  #row {
    flex-direction: row;
  }
  .header {
    padding-top: 20px;
    text-align: center;
    overflow: hidden;
    width: 100%;
  }
  
  .float-container {
    padding: 20px;
  }
  
  .float-child.left {
    margin-right: 20px;
  }
  
  .float-child {
    width: 50%;
    float: left;
    padding: 20px;
  }
  
  .header-right {
    float: right;
  }

  /* Check-In Password Page */
  h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 1000;
  }

  .passwordContinueButton {
    
  }