.leftImg {
  left: -94px;
  bottom: 0px;
  width: 60%;
}

.rightImg {
  right: 0px;
  top: 0px;
  width: 60%;
}

h1 {
  font-style: bold;
  font-weight: 520;
  line-height: 164px;
  font-size: 100px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 100px;
  color: #000000;
  white-space: nowrap;
}

.signInGroup {
  height: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}