#input-box{
    height: 32px;
    width: 300px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
  }
  
  .search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  #todo-symbol{
  position: relative;
  left: 93.21%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  
  background: #5b775a;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 50px;
  }

  /* Google Button */
  .button {
    background: #F2F2F2;
    width: 300px;
    height: 40px;
    size: 50px;
    border-radius: 10px;
    border-color: white;
    box-shadow: 0px 3.10875px 13.2122px rgba(0, 0, 0, 0.17);

    display: flex;
  }

  h1 {
    font-family: 'Poppins', sans-serif;
    font-style: bold;
    font-weight: 520;
    line-height: 164px;
    font-size: 100px;

    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 700px;
    padding-right: 100px;
    padding-top: 300px;
    font-size: 100px;
    color: #000000;
  }

  /* Attendance History */
  .back {
    background-color: white;
    left: 0px;
  }